@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E9EEF2;
    color: #326789;
    font-family: 'Archivo', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid #E65C4F;
    margin: 5px 50px;
    padding: 40px 100px;
}

nav img {
    width: 50px;
}


nav ul{
    margin: 0;
    display: flex;
    gap: 50px;
    list-style: none;
}
nav ul li {
    padding:15px 0 0 0;
    transition: all .2s ease;
    position: relative;
}

nav ul li:hover a {
    color: #E65C4F;
}
nav ul li ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #E65C4F;
    bottom: 5px;
    left: 0;
    border-radius: 3px;
    transition: all .2s ease;
}
nav ul li:hover ::after {
    height: 3px;
}
nav ul li a {
    text-decoration: none;
    color: #326789;
    font-size: 19px;
    transition: all .3s ease;
}

main {
    margin: 50px 150px 150px 150px;
}

h1 {
  margin: 0;
}

.title {
    font-size: 60px;
}

#aboutUs {
    display: flex;
    flex-direction: column;
}
#aboutUs h3 {
    margin-left: 30px;
}

#aboutUs #sec{


    border-width: 2px;
    border-color: rgb(179, 179, 180);
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#326789;
}
#aboutUs #sec img{
    margin: 20px;
    object-fit: cover;
}
#aboutUs #sec p {
    margin-top: 40px;
    margin-left: 30px;
}


        /* IMAGE EXEMPLE PRODUIT */

#myImg {
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;

}

#myImg:hover {opacity: 0.7;}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/* MENU DEROULANT QUESTION */


.menu_question{
    list-style: none;
    width: 96.5%;
    margin-top: 30px;
    padding: 2%;
    border-radius: 50px;
    background: white;
}

.menu_question li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.menu_question label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #E65C4F;
}

input[type="checkbox"]{
    display: none;
}

.menu_question .content{
    color: #326789;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.menu_question input[type="checkbox"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;

}

.menu_question input[type="checkbox"]:checked + label::before{
    content: '-';

}

#personnalize aside {
    margin: 50px 0px 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



#personnalize section{
    display: flex;
    flex-grow: 1;
}

#personnalize section > img {
    margin: 50px 0;
}
#personnalize section aside img {
    width: 20px;
    width: 20px;
}
.containImg {
    margin: 50px 0;
    width: 60%;
    height: 50%;
    overflow: hidden;
}


#personnalize {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    margin-top: 50px;
}
#personnalize article{
    flex-grow: 3;
}

#personnalize aside>button:hover{
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    transform: scale(1.2);
    margin: 20px 5px;
}
#personnalize aside>button img {
    width: 50%;
}
#personnalize aside>button{
    width: 45%;
    height: 15%;
    margin: 5px;
    background-color: white;
    border: 2px solid #E65C4F;
    overflow: hidden;
    border-radius: 30px;
    padding: 0px;
    filter: opacity(70%);
    transition: all .2s ease;
}
#personnalize aside>button:focus{
    box-shadow: #326789 1px 1px 2px;
    filter: opacity(100%);
    -webkit-filter: opacity(100%);

}


#formbalise{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-self: right;
    padding: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 50px 0 0 0;
    width: 131%; /*tkt*/
}
#formbalise section{
    display: flex;
    flex-direction: column;
    padding: 50px 200px 0 200px;
    justify-content: space-between;
}
#formbalise section div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#formbalise section div input{
    justify-self: right;
}

#formbalise input:not(#envoyez) {
    padding: 10px 20px;
    border: 2px solid #E65C4F;
    border-radius: 20px;
    width: 300px;
    transition: all .2s ease;
}
#formbalise textarea {
    resize:vertical;
    max-height: 200px;
    width: 300px;
    min-height: 50px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #E65C4F;
}
#formbalise .picture input {
    width: 500px;
    background-color: white;
}
.country select {
    width: 300px;
    background-color: white;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid #E65C4F;
    transition: all .2s ease;
}
#formbalise input:hover {
    background-color: rgb(224, 224, 224);
}
#formbalise select:hover {
    background-color: rgb(224, 224, 224);
}
#envoyez{
    transition: all .2s ease;
    align-self:center;
} 
#envoyez:hover {
    transform: scale(1.05);
}


footer {
    background-color: #78A6C8;
    margin: 0;
}
#order{
    width:70%
}
input{
    width:40%;
    border-radius: 5px;
}
textarea{
    width: 40%;
}
#envoyez{
    justify-self: center;
    width:150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E65C4F;
}
select{
    width:40%
}
